@model dynamic
@{
    var isPermission = Model.GetType().GetProperty("permission");
    string actionController;
    if (Model.GetType().GetProperty("action") == null)
    {
        actionController = "Import";
    }
    else
    {
        actionController = Model.GetType().GetProperty("action").GetValue(Model, null);
    }
    string area;
    if (Model.GetType().GetProperty("area") == null)
    {
        area = "";
    }
    else
    {
        area = Model.GetType().GetProperty("area").GetValue(Model, null);
    }

    if (isPermission == null)
    {
        if (TempData.ContainsKey("isImport") && (bool)TempData["isImport"])
        {
            <a class="btn bg-gradient-info btn-sl" asp-area="@area" asp-action="@actionController"><i class="fas fa-upload"></i> Nhập từ excel</a>
        }
    }
    else
    {
        bool isCreated = Model.GetType().GetProperty("permission").GetValue(Model, null);
        if (isCreated)
        {
            <a class="btn bg-gradient-info btn-sl" asp-area="@area" asp-action="@actionController"><i class="fas fa-upload"></i> Nhập từ excel</a>
        }
    }
}