@model CMS.Areas.Admin.ViewModels.Personal.ChangePasswordViewModel


@{
    ViewData["Title"] = "Đổi mật khẩu";
}

<section class="content-header">
    <div class="container-fluid">
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title namePageText">Đổi mật khẩu</h3>
            </div>

            <form asp-action="ChangePassword">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-horizontal">

                            <div class="card-body">
                                <div class="form-group row offset-1">
                                    <label class="col-md-3">Nhập mật khẩu hiện tại:<span class="text-danger">*</span></label>
                                    <div class="col-md-8">
                                        <input asp-for="Password" class="form-control" autocomplete="off" placeholder="Vui lòng nhập mật khẩu hiện tại" value="@Model.Password"/>
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row offset-1">
                                    <label class="col-md-3 control-label">Nhập mật khẩu mới:<span class="text-danger">*</span></label>
                                    <div class="col-md-8">
                                        <input asp-for="PasswordNew" class="form-control" autocomplete="off" placeholder="Vui lòng nhập mật khẩu mới" value="@Model.PasswordNew"/>
                                        <span asp-validation-for="PasswordNew" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row offset-1">
                                    <label class="col-md-3 control-label">Nhập lại mật khẩu mới:<span class="text-danger">*</span></label>
                                    <div class="col-md-8">
                                        <input asp-for="PasswordNewOld" class="form-control" autocomplete="off" placeholder="Vui lòng nhập lại mật khẩu mới" value="@Model.PasswordNewOld"/>
                                        <span asp-validation-for="PasswordNewOld" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row offset-1">
                                    <label class="col-sm-3 control-label">&nbsp;</label>
                                    <div class="col-md-8">
                                        <button type="submit" class="btn btn-success btn-sm "><i class="fa fa-file-text-o" aria-hidden="true"></i> &nbsp;Cập nhật &nbsp;</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>

    </div>
</section>