@page
@using CMS.Config.Consts
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model LoginModel

@{
    ViewData["Title"] = "Đăng nhập | Dai-ichi Life Vietnam";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>
    <meta property="og:type" content="website" data-rh="true">
    <meta http-equiv="X-UA-Compatible" content="IE=100">
    <meta name="robots" content="all" data-rh="true">
    <meta name="copyright" content="Vets">
    <meta property="og:image" content="@AppConst.Domain/images/logo.png" data-rh="true">
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/font/fontawesome/fontawesome6/pro/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/theme/admin-lte/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="~/theme/admin-lte/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="~/theme/admin-lte/plugins/toastr/toastr.min.css">
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/js/Plugins/iCheck/custom.css"/>
</head>

<body class="login-page">
<div class="login-box">
    <div class="card card-outline card-danger">
        <div class="card-header text-center">
            <a href="#" class="h1"><b>Dai-ichi</b>&nbsp;Life</a>
        </div>
        <div class="card-body">
            <p class="login-box-msg font-bold">Hệ thống quản trị</p>
            <form method="post">
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <input class="form-control" asp-for="Input.UserName" id="username" type="text" placeholder="Nhập tài khoản">
                    <span asp-validation-for="Input.UserName" class="text-danger font-size-12"></span>
                </div>
                <div class="form-group">
                    <div style="position: relative">
                        <input class="form-control" asp-for="Input.Password" type="password" placeholder="Nhập mật khẩu" autocomplete="off">
                        <span toggle="#Input_Password" class="fa fa-fw fa-eye field-icon toggle-password positionEye"></span>
                    </div>
                    <span asp-validation-for="Input.Password" class="text-danger font-size-12"></span>
                </div>
                <div class="row">
                    <div class="checkbox col-6 text-left">
                        <div class="icheck-danger">
                            <input asp-for="Input.RememberMe"/>
                            <label asp-for="Input.RememberMe">
                                Lưu tài khoản
                            </label>
                        </div>
                    </div>
                    <div class="col-6 text-right">
                        @* <a href="#" class="fontNOR">Quên mật khẩu</a> *@
                    </div>
                </div>
                <div class="social-auth-links text-center mt-2 mb-3">
                    <button type="submit" class="btn btn-block btn-danger">Đăng nhập</button>
                </div>
            </form>
        </div>

    </div>
</div>
</body>
<script type="text/javascript" src="~/theme/admin-lte/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="~/theme/admin-lte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<partial name="_ValidationScriptsPartial"/>
<script type="text/javascript" src="~/theme/admin-lte/plugins/toastr/toastr.min.js"></script>
<script type="text/javascript" src="~/js/login.js"></script>
<script type="text/javascript" src="~/js/shared/toastrConfig.js"></script>
<script type="text/javascript">
        @if (TempData.ContainsKey("ContentMessage") && TempData.ContainsKey("IsShowMessage") && TempData["IsShowMessage"].ToString() == "-1" && !string.IsNullOrEmpty(TempData["ContentMessage"].ToString()))
        {
            @Html.Raw("toastr.error('" + TempData["ContentMessage"] + "', \"Thông báo\")")
            TempData.Remove("ContentMessage");
        }
</script>
</html>