<a href="/" class="brand-link text-center box-sidebar-showed" style="padding: 10px">
    <img src="~/images/brand_full.png" class="text-center" style="width: 185px;"/>
</a>

<a href="/" class="brand-link box-sidebar-collapsed">
    <img src="~/images/logo.png" alt="PruGift Logo" class="brand-image" style="margin: 0 !important;">
</a>
