body {
    font-family: 'Open Sans', sans-serif;
    background-color: #F5F5F5 !important;
    background-size: cover !important;
    color: #19274B
}
.positionEye {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    z-index: 9999;
}
.font-size-12{
    font-size: 12px !important;
}
.p-l-3{
    padding-left: 3px !important;
}

/*.icheck-primary>input:first-child:checked+input[type=hidden]+label::before, .icheck-primary>input:first-child:checked+label::before {*/
/*    background-color: #c9252c !important;*/
/*    border-color: #c0181f !important;*/
/*}*/

/*.icheck-primary>input:first-child:checked+input[type=hidden]+label:hover, .icheck-primary>input:first-child:checked+label:hover {*/
/*    background-color: #c9252c !important;*/
/*    border-color: #c0181f !important;*/
/*}*/





