.imageCart{
    height: 50px;
    width: 50px;
}
.timeline>div>.timeline-item>.timeline-header {
    border-bottom: none;
    color: #495057;
    font-size: 12px;
    line-height: 1.1;
    margin: 0;
    padding: 10px 10px 0 10px;
}
.timeline>div>.fa, .timeline>div>.fab, .timeline>div>.fad, .timeline>div>.fal, .timeline>div>.far, .timeline>div>.fas, .timeline>div>.ion, .timeline>div>.svg-inline--fa {
    background-color: #adb5bd;
    border-radius: 50%;
    font-size: 12px;
    height: 20px;
    left: 23px;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 20px;
}