@using CMS.Extensions.HtmlTag

@{
    if (Model.GetType().GetProperty("permission") != null )
    {
        var isShow = Model.GetType().GetProperty("permission").GetValue(Model, null);
        if (isShow == true)
        {
            <div class="col-12 col-sm-5">
                <div id="customer-active-app"></div>
            </div>
            @using (Html.BeginScripts())
            {
                <script type="text/javascript" src="~/dist/js/dashboard/customerActive/bundle.js" asp-append-version="true"></script>
            }   
        }
    }
}



