@using CMS.Extensions.HtmlTag

@{
    if ( Model.GetType().GetProperty("permission") != null)
    {
        bool isPermission = Model.GetType().GetProperty("permission").GetValue(Model, null);
        if (isPermission)
        {
            <div class="row pt-3">
                <div class="col-12">
                    <div id="sales-app"></div>
                </div>
            </div>
            @using (Html.BeginScripts())
            {
                <script type="text/javascript" src="~/dist/js/dashboard/sales/bundle.js" asp-append-version="true"></script>
            }   
        }
    }
}