@using CMS.Extensions.HtmlTag

@{
    if (Model.GetType().GetProperty("permission") != null)
    {
        bool isPermission = Model.GetType().GetProperty("permission").GetValue(Model, null);
        if (isPermission)
        {
            <div class="row">
                <div class="col-12">
                    <div id="to-product-app"></div>
                </div>
            </div>
            @using (Html.BeginScripts())
            {
                <script type="text/javascript" src="~/dist/js/dashboard/toProduct/bundle.js" asp-append-version="true"></script>
            }   
        }
    }
}


