@model CMS.Areas.Admin.ViewModels.Configuration.CreateViewModel

@{
    ViewData["Title"] = "Thêm mới chi tiết thông tin cấu hình | Quản lý hệ thống";
    string namePage = "Thêm mới chi tiết thông tin cấu hình";
    string subName1 = "Danh sách cấu hình";
    string subName = "Quản lý danh mục";
}

<section class="content-header">
    <div class="container-fluid subname">
        <div class="row">
            <div class="col-sm-6 ">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item">
                        <a>@subName</a>
                    </li>
                    <li class="breadcrumb-item active"><a class="active" asp-area="Admin" asp-action="Index">@subName1</a></li>

                </ol>
            </div>
            <div class="col-sm-6">
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Create">
                    <div class="card">
                        <div class="card-header ">
                            <p class="card-title namePageText">@namePage</p>
                            <div class="float-right">
                                @await Html.PartialAsync("Partial/BasicAction/Save")
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-horizontal">
                                <div class="form-group row">
                                    <label class="col-sm-2 control-label">Tên:<span class="text-danger">*</span></label>
                                    <div class="col-sm-10">
                                        <input asp-for="Name" class="form-control " />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 control-label">Alias:<span class="text-danger">*</span></label>
                                    <div class="col-sm-10">
                                        <input asp-for="Val" class="form-control " />
                                        <span asp-validation-for="Val" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 control-label">Nội dung:</label>
                                    <div class="col-sm-10">
                                        <textarea asp-for="Detail" class="form-control "></textarea>
                                        <span asp-validation-for="Detail" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
@section Styles
{
    
}
@section Scripts
{
    <script type="text/javascript" src="~/lib/tinymce/tinymce.min.js"></script>
    <script type="text/javascript" src="~/lib/tinymce/jquery.tinymce.min.js"></script>
    <script type="text/javascript" src="~/js/file-manager-upload/dist/filemanagerupload.min.js"></script>
    <script type="text/javascript">
        let mediaManager = new MediaManager({
            xsrf: $('input:hidden[name="__RequestVerificationToken"]').val(),
            multiSelect: false,
            type: 1,
            confirmDelete: async (DeleteFile) => {
                let confirm = await Swal.fire({
                    title: 'Bạn có chắc chắn xóa dữ liệu này?',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Đồng ý',
                    confirmButtonColor: '#ed5565',
                    cancelButtonText: 'Thoát'
                });
                if (confirm.value) {
                    DeleteFile();
                }
            }
        });
        let mediaManagerForTiny = new MediaManager({
            xsrf: $('input:hidden[name="__RequestVerificationToken"]').val(),
            multiSelect: false,
            confirmDelete: async (DeleteFile) => {
                let confirm = await Swal.fire({
                    title: 'Bạn có chắc chắn xóa dữ liệu này?',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Đồng ý',
                    confirmButtonColor: '#ed5565',
                    cancelButtonText: 'Thoát'
                });
                if (confirm.value) {
                    DeleteFile();
                }
            }
        });
        const optionsTinymce = {
            language: 'vi',
            language_url: '/js/tinymce/langs/vi.js',
            height: 600,
            menubar: true,
            branding: false,
            plugins: [
                'print preview importcss searchreplace autolink autosave save directionality code visualblocks visualchars fullscreen image link media template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime  lists wordcount imagetools textpattern noneditable help charmap  emoticons'
            ],
            toolbar: [
                'formatselect |  fontselect | bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | outdent indent | bullist numlist | backcolor forecolor',
                'fontsizeselect | link unlink | removeformat | charmap | superscript subscript | image media link | table | template | code |link'
            ],
            keep_styles: false,
            paste_data_images: true,
            paste_as_text: true,
            convert_urls: false,
            relative_urls: false,
            remove_script_host: false,
            entity_encoding: 'raw',
            valid_elements: '*[*]',
            contextmenu: 'cut copy paste | template',
            content_style: "body { font-family: Open Sans;font-size: 16pt; }",
            file_picker_callback: function (callback, value, meta) {
                mediaManagerForTiny.on('select', function (obj) {
                    if (meta.filetype == 'image' && obj.type != 1) {
                        toastr.error("file không được hỗ trợ. file phải là một hình ảnh.", "Thông báo");
                        return;
                    }
                    if (meta.filetype == 'media' && (obj.type != 2 && obj.type != 3)) {
                        toastr.error("file không được hỗ trợ. file phải là một Media.", "Thông báo");
                        return;
                    }
                    callback(obj.url, { text: obj.title });
                })
                mediaManagerForTiny.open();
            },
            templates: [
                { title: 'Petrolimex', description: '', url: '/Templates/Tinymce/default.html' }
            ],
            fontsize_formats: '8pt 9pt 10pt 11pt 12pt 14pt 16pt 18pt 20pt 22pt 24pt 26pt 28pt 36pt 48pt 72pt',
            font_formats: "Andale Mono=andale mono,times; " +
                "Arial=arial,helvetica,sans-serif; " +
                "Arial Black=arial black,avant garde;" +
                " Book Antiqua=book antiqua,palatino; " +
                "Comic Sans MS=comic sans ms,sans-serif;" +
                " Courier New=courier new,courier; " +
                "Georgia=georgia,palatino; Helvetica=helvetica; " +
                "Impact=impact,chicago; Symbol=symbol; " +
                "Tahoma=tahoma,arial,helvetica,sans-serif;" +
                " Terminal=terminal,monaco; " +
                "Times New Roman=times new roman,times; " +
                "Trebuchet MS=trebuchet ms,geneva;" +
                " Verdana=verdana,geneva;" +
                " Webdings=webdings;" +
                " Open Sans=Open Sans;" +
                " Wingdings=wingdings,zapf dingbats;" +
                " Noto Serif=noto serif,Segoe UI=segoe ui",
            object_resizing: ':not(.table-media)',
        };
        $('textarea#Detail').tinymce(optionsTinymce);
    </script>
}
