<footer class="main-footer text-sm">
    @*<span>Copyright © 2021 Bản quyền thuộc Tổng Công Ty Thép Việt Nam - CTCP</span>*@
    <div class="float-right d-none d-sm-inline-block">
        <span>Phiên bản 1.0.0</span>
    </div>
</footer>