.img{
    width: 100px;
    height: 100px;
    border: 2px dashed #b1154a;
}
.imgC{
    width: 100%;
    height: 100%;;
 }
.imgA{
    width: 100%;
    border: 2px dashed #b1154a;
}
.buttonDelete:hover{
    color: red;
    cursor: pointer;
}
.buttonCrop:hover{
    color: red;
    cursor: pointer;
}
.buttonDelete{
    font-size: 12px;
}
.buttonCrop{
    font-size: 12px;
}
.buttonImage{
    width: 15px;
}
.btnButtonY{
    background: #eaeaea;
    color: #19274B;
    border: 2px dashed #b1154a;
}

.btnButtonY:hover, .btnButtonY:focus, .btn-primary:focus{
    background: #eaeaea;
    color: #19274B;
    border: 2px dashed #b1154a;
}
.borderUploadMany{
    border: 2px dotted #b1154a;
    margin: 0;

}
.buttonFont{
    width: 27px;
    height: 100%;
}
.textD{
    padding: 0;
}
.inputCheckbox{
    width: 26px;
    height: 26px;
}
.input-group>.input-group-append>.btn{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
/*.table td,.table-bordered td, .table-bordered th, .table thead th{*/
/*    border-top: 1px solid #fff;*/
/*}*/
/*.table thead th {*/
/*    vertical-align: bottom;*/
/*    border-bottom: 2px solid #fff;*/
/*}*/
/*.table-bordered td, .table-bordered th {*/
/*    border: 1px solid #fff;*/
/*}*/
.form-control:disabled{
background-color: #fff;
}
.select2-container--default .select2-selection--single{
background-color: #fff;
border-top: 1px solid #fff!important;
border-right: 1px solid #fff!important;
border-left: 1px solid #fff!important;
border-radius: unset;
}
.select2-search--dropdown{
background-color: #fff;
}
.select2-search__field{
background-color: #fff;
}
.select2-results {
background-color: #fff;
}
.select2-container--default.select2-container--focus .select2-selection--multiple{
border: 1px solid blue !important;;

}
.ulN li{
display:inline;
}
.iconTrash{
padding-top: 10px;
    cursor: pointer;
}
.textD{
border-left: #fff;
border-right: #fff;
border-top: #fff;
border-radius: 0;
background: #fff;
}
.textD:focus{
border-left: #fff;
border-right: #fff;
border-top: #fff;
border-radius: 0;
background: #fff;
}
.nav-tabs {
border-bottom: 1px solid #ddd;
}
.headerColor{
background: #eaeaea;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
border: none;
border-bottom: 1px solid #c9252c;
color: #c9252c;
background: #eaeaea;

}
.nav-tabs .nav-item.show .nav-link, .nav-tabs :hover {
border: none;

}
.nav {
padding-left: 0;
margin-bottom: 0;
list-style: none;
}
.weight_class, .price_class{
    position: relative;
}
.weight_class:after{
    height: 100%;
    font-family: "Font Awesome 6 Free", sans-serif;
    content: "Gram";
    font-size: 12px;
    text-align: center;
    vertical-align: middle !important;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #eaeaea;
    right: 0;
    border-top: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    padding: 6px;
    color: rgba(15, 4, 46, 0.5);
    border-radius: 3px;
}
.price_class:after{
    height: 100%;
    font-family: "Font Awesome 6 Free", sans-serif;
    content: "đ";
    font-size: 12px;
    text-align: center;
    vertical-align: middle !important;
    position: absolute;
    top: 49%;
    transform: translateY(-50%);
    background: #eaeaea;
    right: 0;
    border-top: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    padding: 10px;
    padding-left: 16px;
    padding-right: 16px;
    color: rgba(15, 4, 46, 0.5);
    border-radius: 3px;
}
.weight_class input, .price_class input{
    padding-right: 3.125rem;
}